.feynman__link {
    position: absolute;
    right: 48px;
    bottom: 50%;
    text-decoration: none;
    color: blue;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }

  .feynman__link:hover {
    text-decoration: none;
    opacity: 0.5;
    transition: all 0.5s ease;
}